@import "variables";

nav {

	background-color: @darkGrey;
	color:white;
	text-align: center;
	padding: 5px 0;

	li {
		display: inline-block;
		margin: 0 20px 0 0;
	
		&:not(.active) a {
			color:#fefefe - #444;
		}
	}

	a {
		transition:all 250ms ease-out;
		text-decoration: none;
		color:inherit;
		display: inline-block;

		&:hover {
			color:#fefefe!important;
			-webkit-transform:scale(1.05,1.05);
		}
	}
}