<template name="home">
<div class="row">
	<div class="span5 offset1 recentActivity">
		{{> activityFeed}}
	</div>
	<div class="span5">
		{{> standings}}
	</div>
 </div>
</template>

<template name="activityFeed">
<h3>Recent Activity</h3>
<a class="btn btn-mini postButton"><i class="icon-pencil"></i>Add</a>
<div class="createPost">
	<textarea></textarea>
	<a class="btn">Post</a>
</div>
{{#each recentEntries}}
	{{> activityEntry}}
{{/each}}
</template>

<template name="standings">
<h3>Standings</h3>
<table class="table standings">
    <thead>
        <tr>
        	<th class="img" colspan="2">Name</th>
			<th class="delta">Change</th>
			<th class="pts">Pts</th>
        </tr>
    </thead>
    <tbody>
    	{{#each teams}}
    		{{> standingsRow}}
    	{{/each}}
    </tbody>
</table>
</template>


<template name="standingsRow">
	<tr class="user">
		<td class="img"></td>
		<td class="name">{{this.profile.firstName}} {{this.profile.lastName}}</td>
		<td class="delta"></td>
		<td class="pts"></td>
	</tr>
</template>



