@darkGrey: #333;
@linkColor: #222;

color: @darkGrey;

* {
	box-sizing: border-box;
}

.header {
	text-align: center;
}

nav {
	text-align: center;
	padding: 5px 0;
	border-top: 1px solid @darkGrey;
	border-bottom: 1px solid @darkGrey;
	margin-bottom: 20px;

	ul {
		margin:0;

		li.navItem {
			margin: 0 20px 0 0;

			> a {
				text-decoration: none;
				color: @darkGrey;
			}
		}
	}
}

#facebookButton, #yahooButton {
	display: inline-block;
	padding:4px 10px;
	border:1px solid #AAA;
	border-radius:3px;
	color:white;
	text-decoration: none;
}

#facebookButton {
	background-color: blue;
}

#yahooButton {
	background-color: purple;
}


/* Overriding bootstrap styles */

.nav-pills {

	> .active {

		> a {

			&:hover {
				background-color: #555;
			}

			background-color: #333;
		}
	}

	> :not(.active) {
		> a {
			color: #333;
		}
	}
}