<template name="draft">
	<div class="draft body">

		{{#if admin}}
			<div class="admin_tools">
				<h4>Admin Tools</h4>
				<button class="set_order" disabled="{{#if draft_created}}disabled{{/if}}">Set Draft Order</button>
				<button class="initialize" disabled="{{#if draft_created}}disabled{{/if}}">Initialize Draft</button>
				<button class="begin_draft" disabled="{{#unless draft_created}}disabled{{/unless}} {{#if draft_begun}}disabled{{/if}}">Begin Draft</button>
				<button class="admin_draft_toggle">{{#if admin_draft}}Exit{{else}}Enter{{/if}} Admin Draft Mode</button>
				<button class="reset_draft" disabled="{{#unless draft_created}}disabled{{/unless}}">Reset Draft</button>
				<button class="reset_draft_order" disabled="{{#if draft_created}}disabled{{/if}}">Reset Draft Order</button>
				<button class="undo_pick" disabled="{{#unless draft_begun}}disabled{{/unless}}">Undo Last Pick</button>
				<button class="complete_draft" disabled="{{#unless draft_begun}}disabled{{/unless}}">Complete Draft</button>
				<button class="refresh_players">Refresh Players</button>
			</div>
		{{/if}}
		<div class="main_view">
			<ul class="draft_nav">
				{{#unless draft_complete}}<li data-view="players" class="{{#if is_active_view 'players'}}active{{/if}}">Available Players</li>{{/unless}}
				{{#if draft_created}}<li data-view="results" class="{{#if is_active_view 'results'}}active{{/if}}">Results</li>{{/if}}
				{{#if draft_begun}}<li data-view="rosters" class="{{#if is_active_view 'rosters'}}active{{/if}}">Roster</li>{{/if}}
			</ul>
			{{#if is_active_view 'players'}}
				{{>players_view}}
			{{/if}}
			{{#if is_active_view 'results'}}
				{{>result_view}}
			{{/if}}
			{{#if is_active_view 'rosters'}}
				{{>rosters}}
			{{/if}}
		</div>
		<div class="sidebar">
			{{#if order_set}}
				{{#if draft_begun}}
					{{>draft_sidebar}}
				{{else}}
					{{>draft_order}}
				{{/if}}
			{{else}}
				Draft order hasn't been set yet.
			{{/if}}
		</div>

		
		<div style="clear:both;"></div>
	</div>
</template>

<template name="draft_order">
	<h3>Draft Order</h3>
	<ol>
		{{#each user}}
			<li>{{this.profile.firstName}} {{this.profile.lastName}}</li>
		{{/each}}
	</ol>
</template>

<template name="result_view">
	<h2>Results</h2>
	<ul class="round_nav">
		{{#each round}}
			<li data-round="{{num}}" class="{{is_selected_round}}">{{num}}</li>
		{{/each}}
	</ul>
	<table class="draft_results">
		<tr></tr>
		{{#each pick}}
			<tr><td class="pick_num">{{{pick_num}}}</td><td class="owner">{{owner_name}}</td><td class="player">{{{player_desc}}}</td></tr>
		{{/each}}
	</table>
</template>

<template name="players_view">
	<div class="available_players">
		<h2>Available Players <input class="player_search" type="text" value="{{searchValue}}" placeholder="Search first or last name"/></h2>
		{{>position_filter}}
		{{>players}}
	</div>
</template>

<template name="rosters">
	<h2>{{owner_name}} {{>owner_dropdown}}</h2>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Position</th>
				<th>Pro Team</th>
				<th>Percent Owned</th>
			</tr>
		</thead>
		{{#each player}}
			{{>no_draft_player_row}}
		{{/each}}
	</table>
</template>

<template name="owner_dropdown">
	<select class="owner_dropdown">
		{{#each user}}
			<option value="{{this.profile.id}}" selected={{selected}}>{{this.profile.firstName}} {{this.profile.lastName}}</option>
		{{/each}}
	</select>
</template>


<template name="player_row">
<tr class="player_row">
	{{#if draft_begun}}<td class="draft_button_cell"><div class="draft_button {{#if isUserPick}}active{{/if}}">Draft</div></td>{{/if}}
	<td class="player_name">{{this.firstName}} {{this.lastName}}</td>
	<td class="player_position">{{position}}</td>
	<td class="player_pro_team">{{pro_team}}</td>
	<td class="player_percent_owned">{{percent_owned}}</td>
</tr>
</template>

<template name="no_draft_player_row">
<tr class="player_row">
	<td class="player_name">{{this.firstName}} {{this.lastName}}</td>
	<td class="player_position">{{position}}</td>
	<td class="player_pro_team">{{pro_team}}</td>
	<td class="player_percent_owned">{{percent_owned}}</td>
</tr>
</template>


<template name="draft_sidebar">
	<h3>What's Happening</h3>
	<div class="upcoming_picks">
		<h4>Current Pick</h4>
			{{#with current_pick}}
				{{>pick}}
			{{/with}}
		<h4>On Deck</h4>
			{{#with next_pick}}
				{{>pick}}
			{{/with}}

		<h4>In the Hole</h4>
			{{#with next_next_pick}}
				{{>pick}}
			{{/with}}
	</div>

</template>

<template name="pick">
	<div class="pick">
		{{this.overall}}. {{user}}
	</div>
</template>

<template name="position_filter">
<ul class="positions-filter">
	{{#each type}}
		<li data-type="{{this.id}}" class="{{isActive this.id}}">{{this.name}}</li>
	{{/each}}
</ul>
</template>

<template name="players">
<table class="players_table">
	<thead>
		<tr>
			{{#if draft_begun}}<th></th>{{/if}}
			<th>Name</th>
			<th>Position</th>
			<th>Pro Team</th>
			<th>Percent Owned</th>
		</tr>
	</thead>
	<tbody>
		{{#if players_ready}}
			{{#if no_players}}
				<tr class="empty_row">
					<td colspan="5">No players meet your criteria</td>
				</tr>
			{{else}}
				{{#each player}}
					{{>player_row}}
				{{/each}}
			{{/if}}	
		{{else}}
			<tr><td colspan="5">Loading...</td></tr>
		{{/if}}
	</tbody>
</table>
</template>