<template name="draft">
	<div class="draft body">

		{{#if admin}}
			<div class="admin_tools">
				<h4>Admin Tools</h4>
				<button class="set_order" {{#if draft_created}}disabled="disabled"{{/if}}>Set Draft Order</button>
				<button class="initialize" {{#if draft_created}}disabled="disabled"{{/if}}>Initialize Draft</button>
				<button class="begin_draft" {{#unless draft_created}}disabled="disabled"{{/unless}} {{#if draft_begun}}disabled="disabled"{{/if}}>Begin Draft</button>
				<button class="admin_draft_toggle">{{#if admin_draft}}Exit{{else}}Enter{{/if}} Admin Draft Mode</button>
				<button class="reset_draft" {{#unless draft_created}}disabled="disabled"{{/unless}}>Reset Draft</button>
				<button class="reset_draft_order" {{#if draft_created}}disabled="disabled"{{/if}}>Reset Draft Order</button>
				<button class="refresh_players">Refresh Players</button>
			</div>
		{{/if}}
		{{>players_view}}
		<div class="sidebar">
			{{#if order_set}}
				{{>draft_order}}
			{{else}}
				Draft order hasn't been set yet.
			{{/if}}
		</div>

		
		<div style="clear:both;"></div>
	</div>
</template>

<template name="draft_order">
	<h3>Draft Order</h3>
	<ol>
		{{#each user}}
			<li>{{this.profile.firstName}} {{this.profile.lastName}}</li>
		{{/each}}
	</ol>
</template>


<template name="players_view">
	<div class="available_players">
		<h2>Available Players <input class="player_search" type="text" value="{{searchValue}}" placeholder="Search first or last name"/></h2>
		{{>position_filter}}
		{{>players}}
	</div>
</template>

<template name="player_row">
<tr class="player_row">
	{{#if draft_begun}}<td class="draft_button_cell"><div class="draft_button {{#if isUserPick}}active{{/if}}">Draft</div></td>{{/if}}
	<td class="player_name">{{this.firstName}} {{this.lastName}}</td>
	<td class="player_position">{{position}}</td>
	<td class="player_pro_team">{{pro_team}}</td>
	<td class="player_percent_owned">{{percent_owned}}</td>
</tr>
</template>


<template name="draft_sidebar">
	<h3>What's Happening</h3>
	<div class="upcoming_picks">
		<h4>Current Pick</h4>

		<h4>On Deck</h4>

		<h4>In the Hole</h4>
	</div>

</template>

<template name="position_filter">
<ul class="positions-filter">
	{{#each type}}
		<li data-type="{{this.id}}" class="{{isActive this.id}}">{{this.name}}</li>
	{{/each}}
</ul>
</template>

<template name="players">
<table class="players_table">
	<thead>
		<tr>
			{{#if draft_begun}}<th></th>{{/if}}
			<th>Name</th>
			<th>Position</th>
			<th>Pro Team</th>
			<th>Percent Owned</th>
		</tr>
	</thead>
	<tbody>
		{{#if players_ready}}
			{{#if no_players}}
				<tr class="empty_row">
					<td colspan="5">No players meet your criteria</td>
				</tr>
			{{else}}
				{{#each player}}
					{{>player_row}}
				{{/each}}
			{{/if}}	
		{{else}}
			<tr><td colspan="5">Loading...</td></tr>
		{{/if}}
	</tbody>
</table>
</template>