@import "../../variables";

@background: #eee;

.body {
	padding: 0 10px;
	margin:auto;
}

.recentActivity {

	h3 {
		display: inline-block;
	}

	.postButton {

		background-color: #80BD85;
		padding: 2px 10px;
		border-radius:3px;

		.threeD(#80BD85);
	}

	.createPost {
		text-align: right;
		textarea {

			&:focus {
				outline:0;
			}

			display: block;
			resize:none;
			height:80px;
			width:100%;
			margin-bottom: 10px;
			border-radius: 2px;
			border-color: rgba(0,0,0,0.2);
		}

		margin-bottom: 10px;
	}

}

.loadMorePosts {
	display: block;
	text-align: center;
	margin: 16px;
	text-decoration: underline;
}

table.standings {
	tbody {
		tr {
			cursor: pointer;
		}
	}
}

.container{
	position: relative;
}

.margin{
	height: 100%;
	position: absolute;
	left: 50%;
	width: 2px;
	background: #2A3036;
	bottom: 10px;
	margin-left: -1px;
	z-index: -1;
	margin-bottom: -10px;
}

ul.timeline{
	width:920px; /* total width */
	position: relative;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.timeline > li{
	margin: 10px 0;
}
