<template name="home">
<div class="row">
	<div class="span10 offset1 recentActivity body">
		{{> activityFeed}}
	</div>
 </div>
</template>

<template name="activityFeed">
<div class="container">
	<div class="timeline">

		<div class="activityEntry">
			<div class="createPost">
				<textarea></textarea>
				<a class="button postButton">Post</a>
			</div>
		</div>
		{{#each recentEntries}}
			{{> activityEntry}}
		{{/each}}
		{{#if morePosts}}
			<a class="loadMorePosts">Load More</a>
		{{/if}}
	</div>
</div>
</template>



